.centeredContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderWrapper {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(226, 215, 200, 0.449);
}

.loader {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}